{% extends "gameroom/layout.html" %}
{% block body %}
<div>
    <h2>GAME ROOM</h2>
    <div>{% if loggedInUser%}
        <span>Logout</span> <span>{{loggedInUser}}</span>
        {% else%}
        <a href='{% url "gameroom:register"%}'>Register</a>
        <a href='{%url "gameroom:login"%}'>Login</a>
        {% endif%}
    </div>
    <p><a href='{% url "gameroom:play"%}'>Tetris</a></p>
    <p><a href='{% url "gameroom:play"%}'>Snake</a></p>
    <p><a href='{% url "gameroom:play"%}'>Space Invaders</a></p> 
      
</div>

{% endblock%}